<%= link_to "Add a villa", new_villa_path %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="search-area">
          <% @villa.each do |villa| %>
            <div class="col-xs-12">
              <div class="card-wrapper">
                <%= link_to villa_path(villa) do %>

                  <% if villa.photo? %>
                    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                       url('<%= cl_image_path villa.photo.path, height: 300, width: 400, crop: :fill %>')">
                      <div class="card-hover">check it out!</div>
                    </div>
                  <% else %>
                    <div class="card" style="background-image:
                     url('http://pinandpin.com/wp-content/uploads/2013/11/395_2CL_2175_VILLA_IVY_x-1200x798.jpg')">
                      <div class="card-hover">check it out!</div>
                    </div>
                  <% end %>


                  <div class="card-description">
                    <div class="villa-name"><%= villa.name %></div>
                    <div class="villa-location"><%= villa.address %></div>
                    <div class="villa-price"><%= villa.price.to_i %>€</div>
                  </div>

                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div id="index-map" style="height: calc(100vh - 90px);"></div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var styles = [{featureType:"administrative",elementType:"labels.text.fill",stylers:[{color:"#444444"}]},{featureType:"landscape",elementType:"all",stylers:[{color:"#f2f2f2"}]},{featureType:"poi",elementType:"all",stylers:[{visibility:"off"}]},{featureType:"road",elementType:"all",stylers:[{saturation:-100},{lightness:45}]},{featureType:"road.highway",elementType:"all",stylers:[{visibility:"simplified"}]},{featureType:"road.arterial",elementType:"labels.icon",stylers:[{visibility:"off"}]},{featureType:"transit",elementType:"all",stylers:[{visibility:"off"}]},{featureType:"water",elementType:"all",stylers:[{color:"#c2a267"},{visibility:"on"}]}];
      var handler = Gmaps.build('Google');
      handler.buildMap({
        provider: {
          styles: styles
        },
        internal: { id: 'index-map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>
