<div id="container">
  <% if @villa.photo? %>
    <div class="villa-banner" style="background-image: url('<%= cl_image_path @villa.photo.path%>');">
  <% else %>
    <div class="villa-banner" style="background-image: url('http://pinandpin.com/wp-content/uploads/2013/11/395_2CL_2175_VILLA_IVY_x-1200x798.jpg');">
  <% end %>
      </div>
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8" id="description">
      <div class="separator">
        <div class="show-padding" id="summary">
          <h2>
            <div id="user-image">
              <img src="<% @villa.user.facebook_picture_url %>" alt="">
            </div>
          </h2>
        <div>
          <h2>
            <%= @villa.name %>
          </h2>
          <p>
            <%= @villa.address %>
          </p>
            <div class="villa-icon-container row">
              <div class="villa-icon-card col-xs-12 col-md-8">
                <%= image_tag "villa.svg", class: "villa-icon" %>
                <%= @villa.category %> Villa
              </div>
              <div class="villa-icon-card col-xs-12 col-md-8">
                <%= image_tag "guests.png", class: "villa-icon" %>
                <%= @villa.number_of_guests %> Guests
              </div>
              <div class="villa-icon-card col-xs-12 col-md-8">
                <%= image_tag "room.svg", class: "villa-icon" %>
                <%= @villa.number_of_rooms %> Bedrooms
              </div>
              <div class="villa-icon-card col-xs-12 col-md-8">
                <%= image_tag "bed.svg", class: "villa-icon" %>
                <%= @villa.number_of_beds %> Beds
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br>
      <div class="show-padding separator text-justify">
        <strong><p>About this villa</p></strong><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda necessitatibus, nemo asperiores non quibusdam laudantium accusantium iure cum consectetur nobis a et mollitia accusamus rerum, eius minima quaerat praesentium quia.</p>
      </div>

      <div class="villa-features-container show-padding separator">
        <div class="villa-card">
          <div>
            The space
          </div>
        </div>
        <div class="villa-card">
          <div>
            Accomodates: <strong><%= @villa.number_of_guests %></strong>
          </div>
          <div>
            Bathrooms: <strong><%= @villa.number_of_bathrooms %></strong>
          </div>
          <div>
            Bedrooms: <strong><%= @villa.number_of_rooms %></strong>
          </div>
          <div>
            Beds: <strong><%= @villa.number_of_beds %></strong>
          </div>
        </div>
        <div class="villa-card">
          <div>
            Check-in: <strong><%= @villa.arrival_time %></strong>
          </div>
          <div>
            Property type: <strong><%= @villa.category %></strong>
          </div>
        </div>
      </div>
      <div class="villa-features-container show-padding separator">
        <div class="villa-card">
          <div>
            Amenities
          </div>
        </div>
        <div class="villa-card">
          <div>
            Pool: <strong><%= @villa.pool %></strong>
          </div>
          <div>
            Heated pool: <strong><%= @villa.heated_pool %></strong>
          </div>
          <div>
            Bedrooms: <strong><%= @villa.jacuzzi %></strong>
          </div>
          <div>
            Beds: <strong><%= @villa.parking %></strong>
          </div>
        </div>
        <div class="villa-card">
          <div>
            Check-in: <strong><%= @villa.wifi %></strong>
          </div>
          <div>
            Smoking allowed: <strong><%= @villa.smoking_allowed %></strong>
          </div>
        </div>
      </div>
      <div class="show-padding" id="show-back-link">
          <%= link_to "Back", villas_path %>
      </div>
      <div id="map" style="height: 600px;"></div>
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
            });
          <% end %>
        <% end %>
    </div>
    <br><br><br>
    <div class="col-xs-12 col-md-4" id="booking-info-container">
      <div id="booking-info">
          <%= simple_form_for [@villa, @booking] do |f| %>
            <%= f.error_notification %>
            <%= f.input :start_date, as: :string, input_html:{class: "datepicker"} %>
            <%= f.input :end_date, as: :string, input_html:{class: "datepicker"} %>
            <%= f.input :number_of_guests, input_html: { min: 0, step: "1", :value => "2" } %>

            <%= f.submit "Book", class: "btn btn-primary" %>
          <% end %>
    <br>
    <div>
        <%= link_to "BOOK", new_villa_booking_path(@villa), class: "villa-btn-container" %>
    <div class="villa-card">
      <div>
        Pool: <strong><%= @villa.pool %></strong>
      </div>
      <div>
        Heated pool: <strong><%= @villa.heated_pool %></strong>
      </div>
      <div>
        Bedrooms: <strong><%= @villa.jacuzzi %></strong>
      </div>
      <div>
        Beds: <strong><%= @villa.parking %></strong>
      </div>
    </div>
    </div>
  </div>
      
  <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <%@reviews.each do |review| %>
            <div class="review-card">
              <div class="review-avatar">
                <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/70x70" %>
                <%= image_tag avatar_url, {class: "img-circle"}%>
              </div>
              <div class="content">
                <div class="review-name">
                  <strong><%= review.user.email  %></strong>, <%=review.created_at.strftime("on %m/%d/%Y")  %>
                </div>
                <div class="review-stars">
                  <%review.rating.to_i.times { %>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  <% } %>
                </div>
                <div class="review-content">
                  <%=  review.content %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
     </div>
  
  <br>
  <div>
      <%= link_to "BOOK", new_villa_booking_path(@villa), class: "villa-btn-container" %>
  </div>
  <br>

<%= render 'carroussel' %>

  <div class="villa-content-disposition" id="map" style="height: 600px;">

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>
  </div>
  <div id="show-back-link">
    <%= link_to "Back", villas_path %>
  </div>
</div>


<!-- <div>
  <%= link_to "BOOK", new_villa_booking_path(@villa), id:"book", class: "show-padding" %>
</div> -->
