
<%= render 'carroussel' %>

<div id="container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8" id="description">
        <!-- summary = user image villa and overview icons -->
        <div class="show-padding separator" id="summary">
          <div id="user-image">
            <% user_url =  @villa.user.facebook_picture_url || "http://placehold.it/70x70" %>
            <%= image_tag user_url, {class: "img-circle"} %>
          </div>

          <div id="villa-overview">
            <h2><%= @villa.name %></h2>
            <p><%= @villa.address %></p>
              <div class="villa-icon-container">
                <div class="villa-icon-card">
                  <%= image_tag "villa.svg", class: "villa-icon" %>
                  <%= @villa.category %> Villa
                </div>
                <div class="villa-icon-card">
                  <%= image_tag "guests.png", class: "villa-icon" %>
                  <%= @villa.number_of_guests %> Guests
                </div>
                <div class="villa-icon-card">
                  <%= image_tag "room.svg", class: "villa-icon" %>
                  <%= @villa.number_of_rooms %> Rooms
                </div>
                <div class="villa-icon-card">
                  <%= image_tag "bed.svg", class: "villa-icon" %>
                  <%= @villa.number_of_beds %> Beds
                </div>
              </div>
            </div>
          </div>
    <!-- end of summary -->

      <!-- spacing -->
      <br><br><br>
      <!-- spacing -->

      <div class="show-padding separator text-justify">
        <strong><p>About this villa</p></strong><br>
        <!-- Replace with user description -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda necessitatibus, nemo asperiores non quibusdam laudantium accusantium iure cum consectetur nobis a et mollitia accusamus rerum, eius minima quaerat praesentium quia.</p>
      </div>

      <!-- Villa characteristics -->
      <div class="villa-features-container show-padding separator">
        <div class="show-card">
          <div>
            The space
          </div>
        </div>
        <div class="show-card text-align">
          <div>
            Accomodates: <strong><%= @villa.number_of_guests %></strong>
          </div>
          <div>
            Bathrooms: <strong><%= @villa.number_of_bathrooms %></strong>
          </div>
          <div>
            Rooms: <strong><%= @villa.number_of_rooms %></strong>
          </div>
        </div>
        <div class="show-card">
          <div>
            Beds: <strong><%= @villa.number_of_beds %></strong>
          </div>
          <div>
            Property type: <strong><%= @villa.category %></strong>
          </div>
        </div>
      </div>
      <div class="villa-features-container show-padding separator">
        <div class="show-card">
          <div>
            Amenities
          </div>
        </div>
        <div class="show-card">
          <div>
            <% if @villa.pool %>
              <strong> Pool </strong>
            <% else %>
              <div class="line-through">Pool</div>
            <% end %>
          </div>
          <div>
            <% if @villa.heated_pool %>
              <strong> Heated pool </strong>
            <% else %>
              <div class="line-through">Heated pool</div>
            <% end %>
          </div>
          <div>
            <% if @villa.jacuzzi %>
              <strong> Jacuzzi </strong>
            <% else %>
              <div class="line-through">Jacuzzi</div>
            <% end %>
          </div>
          <div>
            <% if @villa.parking %>
              <strong> Parking </strong>
            <% else %>
              <div class="line-through">Parking</div>
            <% end %>
          </div>
        </div>
        <div class="show-card">
          <div>
            <% if @villa.wifi %>
              <strong> Wifi </strong>
            <% else %>
              <div class="line-through">Wifi</div>
            <% end %>
          </div>
          <div>
            <% if @villa.smoking_allowed %>
              <strong> Smoking allowed </strong>
            <% else %>
              <div class="line-through">Smoking allowed</div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Villa characteristics -->
      <div class="show-padding" id="show-back-link">
          <%= link_to "Back", villas_path %>
      </div>

      <!-- reviews -->

        <div class="row">
          <div class="col-xs-12 ">
            <%@reviews.each do |review| %>
              <div class="review-card">
                <div class="review-avatar">
                  <%= user_picture_avatar(review.user, "avatar-review-bordered") %>
                </div>
                <div class="content">
                  <div class="review-name">
                    <strong><%= review.user.first_name  %></strong>, <%=review.created_at.strftime("on %m/%d/%Y")  %>
                  </div>
                  <div class="review-stars">
                    <%review.rating.to_i.times { %>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    <% } %>
                  </div>
                  <div class="review-content">
                    <%=  review.content %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>


      <!-- end of reviews -->

      <!-- Map -->
      <div id="index-map" style="height: 600px;"></div>

      <% content_for(:after_js) do %>
        <script>
          $(document).ready(function() {
            var styles = [{featureType:"administrative",elementType:"labels.text.fill",stylers:[{color:"#444444"}]},{featureType:"landscape",elementType:"all",stylers:[{color:"#f2f2f2"}]},{featureType:"poi",elementType:"all",stylers:[{visibility:"off"}]},{featureType:"road",elementType:"all",stylers:[{saturation:-100},{lightness:45}]},{featureType:"road.highway",elementType:"all",stylers:[{visibility:"simplified"}]},{featureType:"road.arterial",elementType:"labels.icon",stylers:[{visibility:"off"}]},{featureType:"transit",elementType:"all",stylers:[{visibility:"off"}]},{featureType:"water",elementType:"all",stylers:[{color:"#c2a267"},{visibility:"on"}]}];
            var handler = Gmaps.build('Google');
            handler.buildMap({
              provider: {
                styles: styles
              },
              internal: { id: 'index-map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
        </script>
      <% end %>



    </div>
    <!-- end of villa column -->
    <!-- spacing -->
    <br><br><br>
    <!-- spacing -->

    <!-- start of booking form -->
    <div class="col-xs-12 col-md-4" id="booking-info-container">
      <div id="booking-info">
          <%= simple_form_for [@villa, @booking] do |f| %>
            <%= f.error_notification %>
            <%= f.input :start_date, as: :string, input_html:{class: "datepicker", value: @start_date_search} %>
            <%= f.input :end_date, as: :string, input_html:{class: "datepicker", value: @end_date_search} %>
            <%= f.input :number_of_guests, input_html: { min: 0, step: "1", :value => "2" } %>

            <%= f.submit "Book", class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>
    <!-- end of booking form -->

