<div id="show">
  <% if @villa.photo? %>
    <div class="villa-banner" style="background-image: url('<%= cl_image_path @villa.photo.path%>');">
      <div class="villa-banner-content">
  <% else %>
    <div class="villa-banner" style="background-image: url('http://pinandpin.com/wp-content/uploads/2013/11/395_2CL_2175_VILLA_IVY_x-1200x798.jpg');">
      <div class="villa-banner-content">
  <% end %>
      <p>
        <%= @villa.price %> €
      </p>
    </div>
  </div>
  <div class="summary-container">
    <div id="summary">
        <h2>
        <div id="user-image">
          <img src="http://placehold.it/60x60" alt="">
        </div>
        </h2>
        <div>
          <h2>
            <%= @villa.name %>
          </h2>
          <p>
            <%= @villa.address %>
          </p>
        <div class="villa-icon-container">

            <%= image_tag "bed.svg", class: "villa-icon" %>
            <%= image_tag "bed.svg", class: "villa-icon" %>
            <%= image_tag "bed.svg", class: "villa-icon" %>
            <%= image_tag "bed.svg", class: "villa-icon" %>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
  </div>
  <br><br><br>
    <div id="about-this-villa">
      <strong><p>About this villa</p></strong><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda necessitatibus, nemo asperiores non quibusdam laudantium accusantium iure cum consectetur nobis a et mollitia accusamus rerum, eius minima quaerat praesentium quia.</p>
    </div>

    <div class="villa-features-container">
      <div class="villa-card">
        <div>
          The space
        </div>
      </div>
      <div class="villa-card">
        <div>
          Accomodates: <strong><%= @villa.number_of_guests %></strong>
        </div>
        <div>
          Bathrooms: <strong><%= @villa.number_of_bathrooms %></strong>
        </div>
        <div>
          Bedrooms: <strong><%= @villa.number_of_rooms %></strong>
        </div>
        <div>
          Beds: <strong><%= @villa.number_of_beds %></strong>
        </div>
      </div>
      <div class="villa-card">
        <div>
          Check-in: <strong><%= @villa.arrival_time %></strong>
        </div>
        <div>
          Property type: <strong><%= @villa.category %></strong>
        </div>
      </div>
    </div>

    <strong><%= @villa.pool %></strong>
    <strong><%= @villa.heated_pool %></strong>
    <strong><%= @villa.jacuzzi %></strong>
    <strong><%= @villa.parking %></strong>
    <strong><%= @villa.wifi %></strong>
    <strong><%= @villa.smoking_allowed %></strong>
  <div class="row" id="show-back-link">
  <%= link_to "Back", villas_path %>
  </div>
  <div class="btn btn-primary">
    <%= link_to "Book", new_villa_booking_path(@villa) %>
  </div>
</div>

