<div class="wrapper bg-light-background padded" id="user-show">
    <div class="row">
      <div class="container bg-white">
        <div class="showcontainer">
          <div class="profile">
            <div id ="profile-info">
              <h2> Profile Info </h2>
              <img src="http://placehold.it/100x100" id = "profilep" >
              <p>
              <ul>
                <li><strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name %></li>
                <li><strong>Email:</strong> <%= @user.email %></li>
              </ul>
              </p>
            </div>
          <%= link_to "Edit Info", user_path, method: :patch, class: "navbar-wagon-link" %>
          </div>
          <div class="text-center">
            <h2> My Listings </h2>
              <% i=0 %>
              <% @villas.each do |villa| %>
              <div>
                <% i+=1 %>
                <p>Listing <%=i%> <%= link_to villa.name, villa_path(villa) %></p>
              </div>
              <% end %>
              <div class="bottom-button">
                <%= link_to "Add Listing", new_villa_path, class: "navbar-wagon-button btn"%>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container bg-white">
      <div class="col-xs-12">
        <h2> My Bookings </h2>
        <% i=0 %>
        <% @villas.each do |villa| %>
        <div>
          <% i+=1 %>
          <p>Listing <%=i%> <%= link_to villa.name, villa_path(villa) %></p>
        </div>
        <% end %>
        <%= link_to "Book Now", villas_path, class: "navbar-wagon-button btn"%>
      </div>
    </div>

  <div class="container">
    <div class="row" id="show-back-link">
      <%= link_to "Back", villas_path %>
    </div>
  </div>
</div>
