<div class="wrapper bg-light-background padded" id="user-show">
    <div class="row">
      <div class="container bg-white">
        <div class="showcontainer">
          <div class="profile">
            <div id ="profile-info">
              <h2> Profile Info </h2>
              <br>
              <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/100x100" %>
              <%= image_tag avatar_url, class: "avatar", id: "profilep" %>
              <p>
              <ul>
                <li><%= @user.first_name %> <%= @user.last_name %> </li>
                <li><%= @user.email %></li>
                <li> User since <%= @user.created_at.year %></li>
              </ul>
               <%= link_to "Edit Info", user_path, method: :patch, class: "navbar-wagon-link" %>
              </p>
            </div>

          </div>
          <div class="listings text-center">
            <h2> My Listings </h2>
              <% i=0 %>
              <% @villas.each do |villa| %>
              <div>
                <% i+=1 %>
                <p>Listing <%=i%> <%= link_to villa.name, villa_path(villa) %></p>
              </div>
              <% end %>
              <div class="bottom-button">
                <%= link_to "Add Listing", new_villa_path, class: "navbar-wagon-button btn"%>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container bg-white">
      <div class="col-xs-12">
        <h2> My Bookings </h2>
        <% i=0 %>
        <% @bookings.each do |booking| %>
        <div>
          <% i+=1 %>
          <p>Booking <%=i %> <%= link_to Villa.find(booking.villa_id).name, villa_path(Villa.find(booking.villa_id)) %>
            Status <%= booking.status %>
            Start date <%= booking.start_date%>
            End date <%= booking.end_date%>
          </p>
        </div>
        <% end %>
        <%= link_to "Book Another", villas_path, class: "navbar-wagon-button btn"%>
      </div>
    </div>
    <div class="container bg-white">
      <div class="col-xs-12">
        <h2> My Bookings as a host </h2>
        <% i=0 %>
        <% @bookings_as_a_host.each do |booking| %>
        <div>
          <% i+=1 %>
          <p>Booking <%=i %> <%= link_to Villa.find(booking.villa_id).name, villa_path(Villa.find(booking.villa_id)) %>
            Status <%= booking.status %>
            Start date <%= booking.start_date%>
            End date <%= booking.end_date%>
            <%= link_to "Approve", approve_path(booking), method: :post, data: {confirm: "Are you sure you want to approve this booking?"} %>
            <%= link_to "Reject", reject_path(booking), method: :post, data: {confirm: "Are you sure you want to reject this booking?"} %>
          </p>
        </div>
        <% end %>
        <%= link_to "Book Another", villas_path, class: "navbar-wagon-button btn"%>
      </div>
    </div>

  <div class="container">
    <div class="row" id="show-back-link">
      <%= link_to "Back", villas_path %>
    </div>
  </div>
</div>
